<% provide(:title, t('devise.passwords.edit.title')) %>

<h1><%= t('devise.passwords.edit.title') %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, t('devise.passwords.edit.new_password'), class: "control-label" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characteres minimo)</em><br />
        <% end %>
        <%= f.password_field :password, class: "form-control", autofocus: true, autocomplete: "off" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, t('devise.passwords.edit.confirm') %><br />
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="actions">
        <%= f.submit t('devise.passwords.edit.submit'), class: "btn btn-default btn-success" %>
      </div>
      <% end %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <small>
    <%= render "devise/shared/links" %>
    </small>
  </div>
</div>
